# List all files and directories that shouldn't be tracked.
*.bak
**/__pycache__
**/old/
*.swp
*.log
*.py[cod]
**/backup
.stfolder
.pytest_cache

# Untracked other dir
.ropeproject

# pycharm
.idea


